cython>=0.25
mido>=1.2.6
scipy>=0.16
fastapi
openai
pydantic
pydantic_core
PyYAML
six
requests
urllib3
s3transfer
pathlib
uvicorn
numba
numpy
librosa
demucs
hydra-core
omegaconf
huggingface_hub
matplotlib
